<header class="header">
  <h1>AdventureNow</h1>
  <select id="citySelector" (change)="loadCityActivities()">
      <option value="oslo">Oslo</option>
      <option value="new_york">New York</option>
      <option value="paris">Paris</option>
      <!-- Add more cities as needed -->
  </select>
</header>
<div class="container">
  <div class="randomizer">
      <h2>Find Your Next Activity</h2>
      <label for="timeSlider">Time (minutes):</label>
      <input type="range" id="timeSlider" min="5" max="120" value="30" (input)="updateTimeValue($event)">
      <span id="timeValue">{{ timeValue }}</span> minutes

      <br><br>

      <label for="intensitySlider">Intensity:</label>
      <input type="range" id="intensitySlider" min="1" max="10" value="5" (input)="updateIntensityValue($event)">
      <span id="intensityValue">{{ intensityValue }}</span>

      <br><br>

      <button id="randomizeButton" (click)="randomizeActivity()">Randomize Activity</button>

      <h3>Suggested Activity:</h3>
      <p id="activity">{{ activity }}</p>
  </div>

  <div class="add-activity">
      <h2>Add New Activity</h2>
      <form (ngSubmit)="addActivity(activityName.value, +activityTime.value, +activityIntensity.value)">
          <label for="activityName">Activity Name:</label>
          <input type="text" id="activityName" #activityName required>
          <label for="activityTime">Time (minutes):</label>
          <input type="number" id="activityTime" #activityTime min="5" max="240" required>
          <label for="activityIntensity">Intensity:</label>
          <input type="number" id="activityIntensity" #activityIntensity min="1" max="10" required>
          <button type="submit">Add Activity</button>
      </form>
  </div>

  <div class="remove-activity">
      <h2>Remove Activity</h2>
      <form (ngSubmit)="removeActivity(activityToRemove.value)">
          <label for="activityToRemove">Activity Name:</label>
          <input type="text" id="activityToRemove" (input)="suggestActivities(activityToRemove.value)" #activityToRemove required>
          <ul id="suggestions" class="suggestions-list">
              <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                  {{ suggestion }}
              </li>
          </ul>
          <button type="submit">Remove Activity</button>
      </form>
  </div>
</div>
